Backend/node_modules
Backend/public/hot
Backend/public/storage
Backend/storage/*.key
Backend/vendor
Backend/.env
Backend/.env.backup
Backend/.phpunit.result.cache
Backend/docker-compose.override.yml
Backend/Homestead.json
Backend/Homestead.yaml
Backend/npm-debug.log
Backend/yarn-error.log



Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.js
